body,html {
  margin: 0;
  padding: 0;
}

:root {
  --cont-width:1300px;
}

form {
  display: flex;
  flex-direction: column;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media(max-width: 1500px) {
  :root {
    --cont-width:1100px;
  }
}

@media(max-width: 1300px) {
  :root {
    --cont-width:900px;
  }
}

@media(max-width: 900px) {
  :root {
    --cont-width:92vw;
  }
}